RewriteEngine On
RewriteRule "^trang-chu.html$" "index.php"
RewriteRule "^([a-zA-Z0-9_-]+)$" "index.php?option=$1"
RewriteRule "^nha-dat/(.*).html$" "index.php?option=nha-dat&id=$1"
RewriteRule "^nha-dat/(.*)$" "index.php?option=nha-dat&cat=$1"
RewriteRule "^xay-dung/(.*).html$" "index.php?option=xay-dung&id=$1"
RewriteRule "^xay-dung/(.*)$" "index.php?option=xay-dung&cat=$1"
RewriteRule "^tin-tuc/(.*).html$" "index.php?option=tin-tuc&id=$1"
RewriteRule "^tin-tuc/(.*)$" "index.php?option=tin-tuc&cat=$1"
RewriteRule "^nha-dat/(.*).html$" "index.php?option=nha-dat&id=$1"
RewriteRule "^nha-dat/(.*)$" "index.php?option=nha-dat&cat=$1"
RewriteRule "^khu-vuc/(.*)$" "index.php?option=khu-vuc&cat=$1"
RewriteRule "^ho-tro/(.*)$" "index.php?option=ho-tro&cat=$1"
RewriteRule "^du-an/(.*).html$" "index.php?option=du-an&id=$1"
RewriteRule "^dang-nhap/(.*)$" "index.php?option=dang-nhap&cat=$1"
